.layout-example .header, .layout-example .footer {
  height: 50px;
  background: #2d8cf0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-example .content {
  background: #5cadff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-example .aside {
  background: #9dceff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
.layout-example .frame {
  height: 200px;
}
